.fa-solid {
    color: rgba(82, 67, 194, 0.1037);
    margin-right: 10px;
}

.fa-circle-check {
    color: rgba(82, 67, 194, 0.419);
}

.b-c {
    background-color: rgba(244, 150, 209, .10);
}

.star {
    left: 88%;
}